.filters {
  margin-left: 15px;
  margin-right: 15px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.colapseButton {
  border: 2px solid var(--color-text);
  border-radius: 10px;
  font-size: 20px;
}

.content {
  width: 0;
  overflow-x: hidden;
  transition: width 0.55s ease;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contentOpen {
  width: 230px;
}
