.filterGroup {
  max-width: 210px;
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 5px;

  gap: 5px;

  border: 3px solid var(--color-text);
  border-radius: 10px;

  background-color: var(--color-white);
}

.title {
  width: 100%;

  border: none;
  background: none;

  text-align: center;

  cursor: pointer;
}

.content {
  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 0.4s ease;
}

.contentOpen {
  grid-template-rows: 1fr;
}

.content > div {
  overflow: hidden;
}

.option {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.optionCheck {
  appearance: none;

  width: 15px;
  height: 15px;

  border: 2px solid var(--color-text);
  border-radius: 2px;

  cursor: pointer;

  background-color: transparent;
  transition: background-color 300ms ease;
}

.optionCheck:checked {
  background-color: var(--color-text);
}

@media (max-width: 768px) {
  .filterGroup {
    max-width: 120px;
  }

  .option {
    font-size: 13px;
  }
}
