.topBar {
  height: 100px;

  display: flex;
  align-items: center;
}

.section {
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
}

.logoSection {
  flex: 1;
  justify-content: start;
}

.searchBarSection {
  flex: 2;
  justify-content: center;
}

.authButtonsSection {
  flex: 1;
  justify-content: end;
}
