.authButtons {
  display: flex;
  gap: 15px;
}

.button {
  white-space: nowrap;
  padding-left: 15px;
  padding-right: 15px;

  height: 50px;
  font-size: 20px;

  border-radius: 500px;

  color: var(--color-text);
}

.login {
  border: 0;
  background: var(--color-white);
}

.signup {
  border: solid var(--color-white) 2px;
  background: transparent;
}
