.authButtons {
  height: 40%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 15px;
}

.authButton {
  height: 100%;

  padding-left: 15px;
  padding-right: 15px;

  border: 0;
  border-radius: 500px;
}

.signupButton {
  border: solid var(--color-secondary) 2px;
  background: var(--color-primary);
  color: var(--color-secondary);
}
