.navButtons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  height: 50px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 90%;
}

.text {
  font-size: 25px;
}

@media (max-width: 768px) {
  .navButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .button {
    height: 35px;
  }
  .text {
    font-size: 20px;
  }
}
