.searchBar {
  display: flex;
  align-items: center;

  height: 50px;
  width: 100%;
  max-width: 700px;

  background-color: var(--color-white);
  border-radius: 500px;
}

.searchButton {
  height: 80%;
  margin-right: 10px;
}

.searchIcon {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.searchInput {
  height: 100%;
  width: 100%;

  margin-left: 15px;

  border: 0;
  background: transparent;

  font-size: 20px;
}

.searchInput:focus {
  outline: none;
}