.header {
  flex-shrink: 0;
  background-color: var(--color-primary);

  background-image: url('@images/header/background.png');

  background-size: auto 100%;

  background-repeat: repeat-x;

  background-position: left top;

  display: flex;
  flex-direction: column;
  width: 100%;
}
