@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}

body {
  color: var(--color-text);
  font-family: 'Roboto', serif;
  font-weight: 600;

  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

body {
  background-color: var(--color-tertiary);
}
