.navBar {
  height: 50px;
  display: flex;
}

.navButton {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgButton {
  height: 80%;
}

.textButton {
  font-size: 25px;
}
