.adsSection {
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 32px;
  padding: 8px 16px 24px;
}

@media (max-width: 768px) {
  .adsSection {
    gap: 16px;
    padding: 8px 8px 24px;
  }
}